@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap");

body {
    background: #1e213f;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -4px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h4 {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: lowercase;
}

.kumbh * { font-family: "Kumbh Sans", sans-serif;}
.roboto * { font-family: "Roboto Slab", sans-serif;}
.space * { font-family: "Space Mono", sans-serif;}

.title {margin-top: 30px;}

.control-panel {
    margin: 20px auto;
    width: 87%;
    background: #161932;
    padding: 8px 6px;
    border-radius: 31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 373px;
}

.settings-icon {
    cursor: pointer;
    transition-duration: 0.5s;
}

.settings-icon:hover {
    transform: rotate(0.5turn);
}